@use "temp/reset";
@use "temp/mixin" as *;

@use "temp/header";
@use "temp/footer";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');



html{
  @include media(sp){
  font-size: 80%;
  }
}

:root {
 --window-height:300;
 --slideshowheight:400;
 --halfpadding:100;
 ----slideshow-start-offset:100;
}


body {
    color: #0e0e0e;
    font-family:"Noto Sans JP", YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-size: 1rem;
  letter-spacing: var(--font-letter-spacing, 0.05em);
  line-height:2;

    //font-family: ten-mincho-antique, sans-serif;
    


}

.en{
  font-family: "Archivo", sans-serif;
}


main{
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  display: block;
}

.hi .image,.hi .images {
  overflow: hidden !important;
  line-height: 1;
}
.hi .image img,.hi .images img {
  transition: all 0.5s ease;
  will-change: transform;
}
.hi:hover .image img,.hi:hover .images img {
  transform: scale(1.05);
}

.arrow{
  
  width: 2.4rem;
  height: 1rem;
  background: $m;
  position: relative;
  border-radius: 5rem;
  span.c-icon{
    
    position: absolute;
font-size: 1rem;
display: inline-block;

animation-fill-mode: forwards;
animation-duration: 0.5s;
animation-timing-function: cubic-bezier(0, 1, 0.25, 1);
background: $w;
color: $w;
top:0.05rem;
left: 0.7rem;
display: inline-block;
width: 1em;
height: 1em;
--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m13.5 6.497l4 4.002l-4 4.001m-9-4h13' stroke-width='1'/%3E%3C/svg%3E");
background-color: currentColor;
-webkit-mask-image: var(--svg);
mask-image: var(--svg);
-webkit-mask-repeat: no-repeat;
mask-repeat: no-repeat;
-webkit-mask-size: 100% 100%;
mask-size: 100% 100%;

&.befores{

}   
&.afters{
transform: translateX(-100%);
opacity: 0;
background: $w;
}

}
}

 a{
          &:hover{
            span.c-icon{
              &.befores{
                  animation-name: transformRightLeft;
                  
              }
              &.afters{
                 animation-name: transformLeftRight; /* 修正: hover時のアニメーションを指定 */
animation-delay: 0.2s; 
color: $m;


              }
          }
          }
        }

@keyframes transformLeftRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes transformRightLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

#top_entry_btns{
    position: fixed !important;
    bottom: 2rem !important;
    right: 2rem !important;
    z-index: 4000 !important;

    ul{
      li{
        margin: 0 0 0.3rem 0;
        a{
          display: block;
          background: $w;
          color: $m;
          border-radius: 3px;
          line-height: 1.4;
          text-align: center;
          padding: 0.3rem 1rem;
          font-size: 0.875rem;
          transition:all .3s ease;
          &:hover{
            background: $m;
            color: $w;
          }
        }
      }
    }
  }



#bread{
  margin: 6rem 1vw 0 0;
  font-size:.75rem;
  &.fixed{
    position: fixed;
    top:0;
    right: 0;
  }
  ul{
    display: flex;
    justify-content: flex-end;
    li{
      margin: 0 0.5rem;
      a{
        color: #555;
      }
    }
  }
}

.text_title{
  padding: 3rem 0 2rem 5vw;
  p.en{
    font-size: clamp(6rem, 5vw, 8rem);
    font-size: 5rem;
    font-weight: 500;
    color: $m;
    line-height: 1.2;
  }
  h1{
    font-weight: 500;
    font-size: 1.5rem;
  }
  .lead{
    width: 50%;
    margin: 5rem 5vw 0 auto;
  }
}

#visual_header{
  position: relative;
  .images{
    position: relative;
    &::before{
      content: "";
      display: block; position: absolute; width: 100%; height: 100%; top:0; left:0; content:""; z-index:2;
      background: rgba(#000,0.45);
    }
    &:after{
      content: "";
      display: block; position: absolute; width: 100%; height: 100%; top:0; left:0; content:""; z-index:2;
      background: linear-gradient(180deg, rgba(105, 105, 105, 0.00) 51.83%, #000 89.95%);
      mix-blend-mode: multiply;
    }
  }
  .text_title{
    position: absolute;
    top:50%;left:5%;transform:translateY(-50%);
    z-index: 33;
    color: $w;
    p.en{
      color: $w;
    }
  }
}