main {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  display: block;
}

/*1minutes*/
.onem {
  background: #ffffff;
}
.onem .inner {
  padding: 0 8vw;
  position: relative;
}
.onem .onetitle {
  text-align: center;
}
.onem .onetitle p.en {
  font-size: 10rem;
}
.onem .onetitle h2 {
  background: #8AC4FF;
  color: #ffffff;
  font-size: 3rem;
  margin: 0 0 5rem 0;
}

.ocont {
  position: relative;
  display: flex;
}

section.work {
  color: #ffffff;
}
section.work h2.white {
  background: #ffffff;
  color: #A2A2D6;
  text-align: center;
  font-weight: 500;
  margin: 0 0 2rem 0;
}
section.work .inner {
  padding: 8vw;
  max-width: 1200px;
  margin: auto;
}
section.work .inner .lead {
  margin: 0 0 5rem 0;
}
section.work .inner .lead .zu01 {
  width: 740px;
  margin: 5rem auto 0 auto;
}
@media screen and (max-width: 767px) {
  section.work .inner .lead .zu01 {
    width: 100%;
  }
}

.work_block {
  position: relative;
  min-height: 100vh;
  margin: 0 0 15rem 0;
}
@media screen and (max-width: 767px) {
  .work_block {
    margin: 0 0 3rem 0;
  }
}
.work_block .bgb {
  background: #F4F4F4;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
.work_block .bgb.left {
  border-radius: 0 0 0 250px;
}
.work_block .bgb.right {
  border-radius: 0 0 250px 0;
}
.work_block .first {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .work_block .first {
    display: block;
  }
}
.work_block .first .left {
  width: 60%;
}
@media screen and (max-width: 767px) {
  .work_block .first .left {
    width: 100%;
  }
}
.work_block .first .right {
  padding: 5rem 5rem 0 5rem;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .work_block .first .right {
    width: 100%;
    padding: 0 8vw;
  }
}
.work_block .first .right .icon {
  position: absolute;
  top: -4rem;
  right: 4rem;
  width: 180px;
}
@media screen and (max-width: 767px) {
  .work_block .first .right .icon {
    width: 120px;
    top: 0;
    position: static;
    margin: 2rem auto;
  }
}
.work_block .first .right .copy {
  transform: translateX(-10rem);
  margin: 0 0 3rem 0;
}
@media screen and (max-width: 767px) {
  .work_block .first .right .copy {
    transform: none;
    text-align: center;
  }
}
.work_block .first .right .copy p {
  display: inline-block;
  background: transparent linear-gradient(52deg, #938BC3 0%, #D37EBE 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 1.4;
  padding: 1rem 0.5rem;
  font-feature-settings: "palt";
}
@media screen and (max-width: 767px) {
  .work_block .first .right .copy p {
    font-size: 2rem;
  }
}
.work_block .swiper-custom-button:after {
  content: "";
  background: none !important;
}
.work_block .swiper-button-next::after, .work_block .swiper-button-prev::after {
  content: none !important;
}
.work_block .swiper_main .swiper-slide img, .work_block .swiper_main2 .swiper-slide img, .work_block .swiper_main3 .swiper-slide img, .work_block .swiper_main4 .swiper-slide img {
  overflow: hidden;
  border-radius: 0 0 50px 0;
}
.work_block .swiper_thumbnail, .work_block .swiper_thumbnail2, .work_block .swiper_thumbnail3, .work_block .swiper_thumbnail4 {
  padding: 0 0 0 5rem;
}
@media screen and (max-width: 767px) {
  .work_block .swiper_thumbnail, .work_block .swiper_thumbnail2, .work_block .swiper_thumbnail3, .work_block .swiper_thumbnail4 {
    padding: 0;
  }
}
.work_block .swiper_thumbnail .swiper-slide img, .work_block .swiper_thumbnail2 .swiper-slide img, .work_block .swiper_thumbnail3 .swiper-slide img, .work_block .swiper_thumbnail4 .swiper-slide img {
  overflow: hidden;
  border-radius: 0 0 30px 0;
}
.work_block .swiper_thumbnail .swiper-slide-thumb-active, .work_block .swiper_thumbnail2 .swiper-slide-thumb-active, .work_block .swiper_thumbnail3 .swiper-slide-thumb-active, .work_block .swiper_thumbnail4 .swiper-slide-thumb-active {
  opacity: 0.5;
}

.tatoeba {
  text-align: center;
  position: relative;
  z-index: 90;
  padding: 0 0 10rem 0;
}
.tatoeba .tatobox {
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  width: 1000px;
  margin: 5rem auto 2rem auto;
  background: #ffffff;
  padding: 0 0 4rem 0;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .tatoeba .tatobox {
    width: 100%;
    font-size: 1.6rem;
    padding: 0 5vw 4rem 5vw;
  }
}
.tatoeba .tatobox .icon {
  width: 240px;
  margin: -2rem auto 0 auto;
}
@media screen and (max-width: 767px) {
  .tatoeba .tatobox .icon {
    width: 180px;
  }
}
.tatoeba .arrow {
  width: 50px;
  margin: 0 auto 2rem auto;
}
@media screen and (max-width: 767px) {
  .tatoeba .arrow {
    margin: 0 auto;
  }
}

.pbox {
  color: #ffffff;
  width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 5rem 0;
}
@media screen and (max-width: 767px) {
  .pbox {
    width: 100%;
  }
}
.pbox.p01 {
  background: url("/assets/image/business/mid01.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}
.pbox.p01::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.pbox.p02 {
  background: url("/assets/image/business/mid02.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}
.pbox.p02::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.pbox.p03 {
  background: url("/assets/image/business/mid03.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}
.pbox.p03::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.pbox.p04 {
  background: url("/assets/image/business/mid04.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}
.pbox.p04::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.pbox .txts {
  width: 700px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .pbox .txts {
    width: 100%;
    padding: 0 5vw;
  }
}
.pbox .txts h3 {
  font-size: 2.4rem;
  margin: 0 0 2rem 0;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .pbox .txts h3 {
    font-size: 1.6rem;
  }
}
.pbox .txts p {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .pbox .txts p {
    font-size: 1.4rem;
  }
}

.tab-contents__item {
  display: none;
  padding: 5vw 0 5vw 0;
}

#rec_nav ul {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}
@media screen and (max-width: 767px) {
  #rec_nav ul {
    gap: 0 10px;
  }
}
#rec_nav ul li {
  width: 40%;
  cursor: pointer;
  display: block;
  background: #8B8B8B;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 10px 10px 0 0;
  padding: 2.4rem 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #rec_nav ul li {
    width: 46%;
    padding: 1rem 0;
    font-size: 1.6rem;
  }
}
#rec_nav ul li.active {
  background: #323F89;
}

.tab-contents__item.show {
  display: block;
  animation: fadeIn 0.5s ease;
}

.tab-contents__item {
  background: #323F89;
}
.tab-contents__item .occupation {
  position: relative;
}
.tab-contents__item .occupation.mbs {
  margin: 0 0 15rem 0;
}
.tab-contents__item .occupation .images.rv .image {
  margin: 0 0 0 auto;
  border-radius: 0 0 0 50px;
}
.tab-contents__item .occupation .image {
  width: 93%;
  border-radius: 0 0 50px 0;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .occupation .image {
    width: 100%;
  }
}
.tab-contents__item .occupation .subtitle {
  position: absolute;
  top: -2rem;
  right: 5rem;
  display: flex;
  width: 100px;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .occupation .subtitle {
    display: block;
    position: static;
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: center;
  }
}
.tab-contents__item .occupation .subtitle .job {
  border: 2px solid #000;
  padding: 2rem 2rem;
  background: #ffffff;
  border-radius: 0 0 20px 0;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .occupation .subtitle .job {
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
    display: inline-block;
    padding: 1rem 2rem;
  }
}
.tab-contents__item .occupation .subtitle p.en {
  width: 1em;
  color: #ffffff;
  margin: 0 0 0 2rem;
  white-space: nowrap;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .occupation .subtitle p.en {
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
  }
}
.tab-contents__item .occupation .subtitle p.en span {
  font-size: 2rem;
}
.tab-contents__item .txts {
  transform: translateY(-5em);
  max-width: 1200px;
  padding: 0 8vw;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .txts {
    transform: none;
  }
}
.tab-contents__item .txts h3 {
  margin: 0 0 2rem 0;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .txts h3 {
    text-align: center;
    margin: 2rem 0;
  }
}
.tab-contents__item .txts h3 span {
  display: inline-block;
  background: transparent linear-gradient(52deg, #938BC3 0%, #D37EBE 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.1em;
  padding: 0 1rem;
  margin: 0 0 0.1em 0;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .txts h3 span {
    font-size: 2rem;
  }
}
.tab-contents__item .txts p {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .txts p {
    margin: 0 0 2rem 0;
  }
}
.tab-contents__item .photo_flex {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 10rem auto;
  padding: 0 8vw;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .photo_flex {
    display: block;
  }
}
.tab-contents__item .photo_flex .photo {
  width: 32%;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .photo_flex .photo {
    width: 100%;
  }
}
.tab-contents__item .schedule {
  max-width: calc(1400px - 20vw);
  margin: 0 auto 3rem auto;
  border-radius: 5px;
  background: #4F5C9A;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  padding: 5rem;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule {
    padding: 5vw;
    display: block;
    max-width: 94%;
  }
}
.tab-contents__item .schedule.interview {
  background: none;
}
.tab-contents__item .schedule .title {
  width: 30%;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
  }
}
.tab-contents__item .schedule .title p.en {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .title p.en {
    font-size: 2rem;
  }
}
.tab-contents__item .schedule .sc {
  flex: 1;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .sc {
    width: 100%;
  }
}
.tab-contents__item .schedule .sc .scs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 1em 0;
  line-height: 1.5;
}
.tab-contents__item .schedule .sc .scs:last-child::after {
  display: none;
}
.tab-contents__item .schedule .sc .scs::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 2em;
  left: 3.7em;
  opacity: 0.3;
}
.tab-contents__item .schedule .sc .scs .time {
  width: 5em;
  position: relative;
}
.tab-contents__item .schedule .sc .scs .time::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.tab-contents__item .schedule .sc .scs .main {
  width: 14em;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .sc .scs .main {
    width: 8em;
    font-size: 1.4rem;
  }
}
.tab-contents__item .schedule .sc .scs .sub {
  flex: 1;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .sc .scs .sub {
    font-size: 1.2rem;
  }
}
.tab-contents__item .schedule .int_flex {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .int_flex {
    justify-content: space-between;
  }
}
.tab-contents__item .schedule .int_flex .box {
  width: 30%;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .int_flex .box {
    width: 48%;
  }
}
.tab-contents__item .schedule .int_flex .box .image {
  margin: 0 0 0.8em 0;
}
.tab-contents__item .schedule .int_flex .box p.job {
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .schedule .int_flex .box p.job {
    font-size: 1.2rem;
  }
}
.tab-contents__item .qa {
  background: #FFFFFF;
  padding: 5rem;
  border-radius: 10px;
  max-width: calc(1400px - 20vw);
  margin: auto;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .qa {
    max-width: 94%;
  }
}
.tab-contents__item .qa .entitle {
  font-size: 18rem;
  color: #323F89;
  opacity: 0.1;
  position: absolute;
  top: -0.1em;
  right: 0;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .qa .entitle {
    font-size: 30vw;
  }
}
.tab-contents__item .qa .subt {
  font-size: 1.8rem;
  margin: 0 0 3rem 0;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .qa .subt {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
  }
}
.tab-contents__item .qa h3 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0 0 3rem 0;
}
@media screen and (max-width: 767px) {
  .tab-contents__item .qa h3 {
    font-size: 2rem;
  }
  .tab-contents__item .qa h3 br {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}