@use 'temp/mixin' as *;

main{
    min-height: 100vh;
}

body:has(.micromodal-slide.is-open) {
  overflow: hidden !important;
}

body.is-locked {
  overflow: hidden !important;
  overflow: clip;
  overscroll-behavior: none;
}

html:has(body.is-locked) {
  overscroll-behavior: none;
}

section.case_cont{
   padding: 5vw;
   .block_first{
        display: grid;
        grid-template-columns: 40% 40% 20%;
        border-bottom: 1px solid #ccc;
        padding: 0 0 0.5rem 0;
            font-size: .75rem;
   }
    .blocks{
        display: grid;
        grid-template-columns: 40% 40% 20%;
        padding: 1rem 0 1rem 1rem;
        margin: 0 0 1rem 0;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        transition:all .3s ease;
        &:hover{
            color: $w;
            background: $m;
        }
       
    }
    .middle{
       padding: 1rem 0 0 1rem;
        p{
            font-feature-settings: "palt";
            font-weight: 500;
            font-size: 0.875rem;
        }
    }
    .right{
        padding: 1rem 0 0 0;
    ul{
        li{
            font-size: 0.75rem;
        }
    }
    }
    .image {
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 50%; // Initial height (approx 2:1 at 50% width)
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            object-position: center center;
            transition: transform 0.1s linear; // Optional: smoother fallback
        }
    }
}

/* MicroModal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 3rem 1rem;
}

.modal__container {
  padding: 0;
  max-width: 96%;
  width: 100%;
  height: auto;
 
      background-size: cover;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__close{
  position: absolute;
  top: -4rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}
.modal__content {
  margin-top: 0;
  
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  min-height: 100vh;
  padding: 0 5vw;
  position: relative;
  //background-color: #fff;
  .in{
    position: relative;
    z-index: 30;
  }
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(25px);
}

.case01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  background: url(/assets/image/case/photo0101.jpg) no-repeat 
  center center;
  background-size: cover;
  backdrop-filter: blur(25px);
}

.bg2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    pointer-events: none;
    background:rgba($m,0.8);
    background-size: cover;
    backdrop-filter: blur(25px);
}

.modal__header {
  display: block;
  text-align: center;
  background: none !important;
  position: relative;
  padding: 5rem 0 0 0;
  .in{
    position: relative;
z-index: 100;
  }
  p.en{
    font-size: .875rem;
    margin-bottom: 1rem;
  }
  h2{
    font-size: 2rem;
    color: #000;
    line-height: 1.5;
    margin: 0 0 3rem 0;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
    font-weight: 500;
    span{
        color: $m;
    }
  }
  .tags{
    background: #CECCCC;
    width: 50%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
    margin:0 auto 5rem auto;
    font-size: 0.875rem;
  }
}


.case_flex{
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  margin: 0 0 3rem 0;
  .image{
    width: 60%;
  }
  .txt{
    width: 35%;
    text-align: left;
    .title{
      p.en{
        color: #000;
      }
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.5;
        color: $m;
    }
  }
}

.answers{
  text-align: center;
  margin: 0 0 10rem 0;
  p.en{
    color: $m;
  }
  .borders{
    .line{
      content: "";
      width: 1px;
      height: 5rem;
      display: block;
      margin: auto;
      background: $m;
    }
  }
}

.cvisual{
 transform: translateY(-8rem);
 margin: 0 0 -5rem 0;
 
}

.c_txt_flex{
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
  color: $w;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  h3{
    font-size: 1.5rem;
    width: 40%;
  }
  .txts{
    width: 50%;
    line-height: 2;
  }
}

.results{
  color: $w;
  padding: 0 0 8vw 0;
  p.en{
    text-align: right;
    font-size: 0.7rem;
  }
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
 
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal__header {
  display: block;
  text-align: center;
  background: none !important;
  position: relative;
  padding: 5rem 0 0 0;
  .in{
    position: relative;
z-index: 100;
  }
  p.en{
    font-size: .875rem;
    margin-bottom: 1rem;
  }
  h2{
    font-size: 2rem;
    color: #000;
    line-height: 1.5;
    margin: 0 0 3rem 0;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
    font-weight: 500;
    span{
        color: $m;
    }
  }
  .tags{
    background: #CECCCC;
    width: 50%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
    margin:0 auto 5rem auto;
    font-size: 0.875rem;
  }
}


.case_flex{
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  margin: 0 0 3rem 0;
  .image{
    width: 60%;
  }
  .txt{
    width: 35%;
    text-align: left;
    .title{
      p.en{
        color: #000;
      }
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.5;
        color: $m;
    }
  }
}

.answers{
  text-align: center;
  margin: 0 0 10rem 0;
  p.en{
    color: $m;
  }
  .borders{
    .line{
      content: "";
      width: 1px;
      height: 5rem;
      display: block;
      margin: auto;
      background: $m;
    }
  }
}

.cvisual{
 transform: translateY(-8rem);
 margin: 0 0 -5rem 0;
 
}

.c_txt_flex{
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
  color: $w;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  h3{
    font-size: 1.5rem;
    width: 40%;
  }
  .txts{
    width: 50%;
    line-height: 2;
  }
}

.results{
  color: $w;
  padding: 0 0 8vw 0;
  p.en{
    text-align: right;
    font-size: 0.7rem;
  }
  h4{
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }
  p{
    line-height: 2;
  }
}

.modal_nav {
  position: fixed;
  bottom: -10rem;
  left: 0;
  width: 100%;
  z-index: 11000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

  .nav_inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    pointer-events: auto;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: #333;
    transition: background 0.3s;
    font-family: "Helvetica Neue", Arial, sans-serif;
    
    &:hover {
      background: #555;
    }
  }

  .prev_btn, .next_btn {
    padding: 0 1.5rem;
    height: 3rem;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
  }
  
  .prev_btn {
      margin-right: 1rem;
  }
  .next_btn {
      margin-left: 1rem;
  }

  .nav_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;

    li {
      a {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
      }

      &.active a {
        background: #0066cc;
      }
    }
  }
}


