@charset "utf-8";

@use "mixin" as *;


footer{
    position: relative;
    z-index: 10;
    color: $w;
    background: transparent linear-gradient(74deg, #4D4D4D 0%, #5D5D5D 100%) 0% 0% no-repeat padding-box;

  
}

  .footer_inner{
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 8vw 5vw 0 5vw;

        a{
            position: relative;
            padding: 0 0 0.3rem 0;
            
            &::before{
                position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #fff;
      bottom: -1px;
      transform: scale(0, 1);
      transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
      transition: transform 0.3s;  /*変形の時間*/
              }
              &:hover{
                &::before{
      transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
      transform-origin: left top; /*左から右に向かう*/
                }
       
              }
        }
        .left{
            #logos{
                display: flex;
                align-items: center;
                margin: 0 0 5rem 0;
                .image{
                    width: 14rem;
                }
                .txt{
                    line-height: 1.4;
                    margin: 0 0 0 1rem;
                    
                }

            }
            svg{
                vertical-align:middle;
                line-height: 1;
                display: inline-block;
                position: relative;
                font-size: 1em;
                margin: 0rem 0 0 0.4rem;
            }
            a{
                    font-size: 0.9rem;
                }
        }
        .right{
            padding: 0 0 0 10rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:5rem;
            .title{
                font-size: 1.1rem;
                margin: 0 0 1rem 0;
            }
            .box{
                margin: 0 0 3rem 0;
                a{
                    font-size: 0.9rem;
                    &.coming{
                        color: #ccc;
                    }
                }
            }
        }
    }
.sns_inner{
    padding: 0 0 5rem 5vw;
    display: flex;
    align-items: center;
    p.en{
        text-align: center;
        
        font-size: 0.775rem;
        margin: 0 1rem 0 0;
    }
    ul{
        display: flex;
        
        li{
            a{
                display: block;
                width: 2.4rem;
                height: 2.4rem;

                display: flex;
                justify-content: center;
                align-items: center;
                transition:all .3s ease;

                &:hover{
                    opacity: 0.8;
                }
                img{
                    width: 1.3rem;
                }

                .icon{

                }
            }
        }
    }
}

.copyright{

    p.en{
        
        color: $w;
        font-size: 0.8rem;
        padding: 0 0 2vw 5vw;
    }
}

#pagetop{
    position: absolute;
    top: 5rem;
    right: 2rem;
}