@charset "utf-8";

@use "mixin" as *;


footer.site-footer{

    .footer_inner{
        padding:5vw 8vw 3vw 8vw;
        display: flex;
        justify-content: space-between;
        @include media(sp){
        align-items: center;
        }
        .logo{
            width: 8rem;
        }
        .fmenu{
            padding: 0 0 0 10vw;
            flex:1;
            display: flex;
            @include media(sp){
            display: none;
            }
            ul{
                width: 33%;
                li{
                    a{
                        display:inline-block;
                        position: relative;
                        margin: 0 0 1rem 0;
                        &.blank_link{
                        &:after{
                            transform: translateY(0.1em);
                            content: "";
                            margin: 0 0 0 0.5em;
                            
 display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
                        }
 

                        }
                        &::before{
              position: absolute;
left: 0;
content: '';
width: 100%;
height: 1px;
background: #000000;
bottom: -1px;
transform: scale(0, 1);
transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
transition: transform 0.3s;  /*変形の時間*/
            }
            &:hover{
              &::before{
transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
transform-origin: left top; /*左から右に向かう*/
              }
     
            }
                    }
                }
            }
        }
        .sns_icon{
            width: auto;
            margin: 0 0 0 auto;
            @include media(sp){
            width: auto;
            }
            ul{
                display: flex;
                
                li{
                    width: 1.6rem;
                    margin: 0 1rem;
                    transition:all .3s ease;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.copyright{
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 12px;
}