
@charset "utf-8";

@use "mixin" as *;


header {
  transition: none !important; // 初期は無効
  //opacity: 0;
}
#entry_btn{
  button{
transition: none !important; // 初期は無効
  }
}
html.is-header-ready  {
  header{
  transition:all .3s ease !important;
  opacity: 1;
  }
  #entry_btn{
    button{
      transition:all .3s ease !important;
    }
  }
}

body.scroll-in{
  header{
    background: $w;
    .white{
      display: none;
    }
    .blue{
      display: block;
    }
    #logo{
      .txt{
        color: $m;
      }
    }
    #gnav{
      ul{li{a{
        
        color: $m;
      &::before{
        background: $m;
      }
      }
    
    
    }}
    }
    #intern_btn{
      a{
        background: $m;
        color: $w;
      }
    }
    #sp_menu{
      span{
        background: $m;
      }
    }
  }
}


header{

  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5000;
  padding: 1rem;
  border-bottom: 1px solid $w;

  .white{
    display: block;
  }
  .blue{
    display: none;
  }

  #logo{
    display: flex;
    .image{
      width: 7.6rem;
    }
    .txt{
      font-size: 0.7rem;
      line-height: 1.5;
      color: $w;
      margin: 0 0 0 1rem;
    }
  }
}

#gnav{
  margin: 0 0 0 auto;
  ul{
    display: flex;
    li{
      margin: 0 1.4rem 0 0;
      a{
        color: $w;
        font-size: 0.875rem;
        font-weight: 500;
        position: relative;
        display: block;
        &::before{
          position: absolute;
left: 0;
content: '';
width: 100%;
height: 1px;
background: #fff;
bottom: -1px;
transform: scale(0, 1);
transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
transition: transform 0.3s;  /*変形の時間*/
        }
        &:hover{
          &::before{
transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
transform-origin: left top; /*左から右に向かう*/
          }
 
        }
      }
    }
  }
}

#intern_btn{
  margin: 0 2rem;
  a{
    display: inline-block;
    background: $w;
    color: $m;
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
}

///entry_btn
/// 
/// 

#sp_menu{
  display: block; 
  position: relative;
  width: 4rem; 
  height: 2.8rem; 
  cursor: pointer;
  span{
    position: absolute;
    background-color: #ffffff;
    height: 1px; 
    width: 100%;   
    
    transition: all 0.4s ease-in-out;
  }
}

#sp_menu span:nth-of-type(1) {
  top: 1rem;
}
#sp_menu span:nth-of-type(2) {
  bottom: 1rem;
}
/* クリック時に横アイコンが斜めになる */
#sp_menu.active span:nth-of-type(1) {
  transform: translateY(0.3rem) rotate(-25deg);
}
#sp_menu.active span:nth-of-type(2) {
  transform: translateY(-0.5rem) rotate(25deg);
}
